@tailwind base;
@tailwind components;
@tailwind utilities;

/* Contenedor principal de la cortina */
.curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  overflow: hidden;
}

.curtain .curtain-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #181818;
  transform: translateY(100%);
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.curtain.up .curtain-panel {
  animation-name: curtain-up;
}

.curtain.down .curtain-panel {
  animation-name: curtain-down;
}

@keyframes curtain-up {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes curtain-down {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

/* video de fondo  */
video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
  pointer-events: none; 
}



/* letras rotativas */


@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

.animate-blink {
  display: inline-block;
  animation: blink 1s step-end infinite;
}

/* 
 <LanguageSwitch activePage="home" /> */

 input:-webkit-autofill {
  background-color: #161616 !important; 
  color: #777 !important; 
  border: none !important; 
  -webkit-box-shadow: 0 0 0px 1000px #161616 inset !important; 
  -webkit-text-fill-color: white !important; 
}